<head>
<style>

.nav li { display: inline-block;
}
.dropdown { padding-left: 15px;
            padding-right: 18px;
}

body {
    background-image: url(../images/viewality-bg.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Agency FB', arial;
    font-size: 48px;
    text-shadow: 4px #aaa;
    text-align: center;
    color: #FFFFFF;
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

.banner {
    font-size: 150px;
    font-weight: bold;
    text-justify: inter-word;
    ;
}

hr {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -50px;
    margin-right: 0px;
    border-style: solid;
    border-width: 3px;
    border-color: #FFFFFF;
    width: 150%;
}

.icon-banner {
    background-color:#FFFFFF;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: -20px;
    height: 50px;
}

.semi-transparent-bar {
    background-color:#FFBE4D;
    opacity:0.42;
    color: #000000;
    padding: 0px;
    margin-top: -35px;
    margin-left: -100px;
    margin-right: -100px;
    margin-bottom: 0px;
    height: 192px; 
}

.tv  {
    width: 230px;
    height:210px;
    transform:translate(0%, 4%);
    word-break: normal;
}

h2 {
    font-weight: bolder;
}

.checkmark-action {
    width: 100px;
    height: 100px;
    margin-top: -80px;
}

.bottom-of-page-action {
    color:#FFBE4D; 
    font-size:16pt;
    text-align: top;
}
</style>
</head>